*.pyc
plots/
baseSelectionRoot/
baseSelectionRootQuick/
25ns*
50ns*
Sync*
htt*
azh*
Trigger*
dataCards*
*_old
meta/*/arch*
ThreeProngTaus/2*
ThreeProngTaus/9*
ThreeProngTaus/arch*
ThreeProngTaus/JetHT*
qcdScale/*.root
qcdScale/roots
util/*.txt
lepSFdata/*
tmp/
plotsOut.txt
data/di-tau/
